* {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

// all-scroll hidden
.scroll-hidden {
    overflow: hidden;
    display: none;
}

//carousal
.carousel {
    width: 500px;
    height: 100%;
}

//header logo name
.logo-name {
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 18px;
}

.section-title {
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 24px;
    text-shadow: white 1px 1px;
}

.nav-item a {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

// Pre-loader
.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: hidden;
    background-image: url('../images/pre-loader.png');
    background-repeat: no-repeat;
    background-color: #FFF;
    background-position: center;
}

.container-fluid {
    margin: 0;
    padding: 0;
    background: url("../images/backgrounds/discord-background-day.jpg") no-repeat center center fixed;
    background-size: cover;
}

.container {
    padding: 0;
    padding: 10px;
}

.row {
    margin: 0;
}

section {
    .container {
        height: auto;

        .row {
            height: 100%;

            .col-6 {
                height: 100%;
            }
        }
    }
}

h1 {
    font-size: 32px;
    font-weight: bolder;
}

.even {
    background-color: #2C2F33;
    color: white;

    .card p,
    h5 {
        color: black;
    }
}

.card {
    padding: 8px;
    height: 350px;
    background-color: #23272A;

    .card-body .card-title {
        color: #FFFFFF;
    }

    .card-body .card-text {
        color: #FFFFFF;
    }

    .card-body .card-subtitle {
        color: #99AAB5;
    }
}

.img-round-center {
    display: flex;
    justify-content: center;
    align-items: center;

    .img-holder {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 200px;
            height: 185px;
            border-radius: 50%;
        }
    }
}

.col-12 {
    padding: 15px;
}

.middle-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#why {
    hyphens: auto;

    .img-center {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            padding-top: 10%;
            padding-bottom: 10%;
            width: 100%;
        }

        img:hover {
            animation-name: example;
            animation-duration: 0.8s;
            animation-iteration-count: 1;
            transform: scale(1.2);
            cursor: pointer;
        }
    }

    p {
        font-size: 18px;
        font-weight: 400;
        text-shadow: black 0px 1px;

        .colored {
            color: rgb(1, 180, 235);
        }
    }
}

#home-map {
    .map {
        height: 400px;
    }
}

@keyframes example {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}


//coming soon page css
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
    height: 100%
}

.bgimg {
    //yes
    //maybe
    /* Background image */
    background-image: url('../images/backgrounds/page-not-found.png');
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: contain;
    background-repeat: no-repeat;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: black;
    text-shadow: white 1px 1px;
    /* Set the font-size to 25 pixels */
    font-size: 25px;

    p{
        color: rgb(1, 180, 235);
        text-shadow: black 1px 1px;
    }
}

.not-found-page{
    font-family: 'Press Start 2P', cursive;
}

/* Position text in the top-left corner */
.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

/* Position text in the middle */
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the <hr> element */
hr {
    margin: auto;
    width: 40%;
}
